/* css 初始化文件 */
*{
  margin: 0;
  padding: 0;
}

ul,li{
  list-style: none;
}
a{
  text-decoration: none;
  color: #333;
}
/* 移动端布局 /* 防止字体过大 */ 
html {
  font-size: 13.3333333333vw;
}
@madia (min-width: 750px) {
  html {
    font-size: 100px;
  }
} 

img{
  border: 0;
}
body{
  font-size: 14px;
  font-family: "微软雅黑", 'Arial Narrow', Arial, sans-serif;
  max-width: 750px;
  margin: 0 auto;
}


